main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #000;
  text-align: center;
  font-family: "Montserrat", Verdana, Geneva, sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main button {
  margin-top: 32px;
}

button {
  justify-content: center;
  width: 320px;
  padding: 8px 16px;
  color: #fff;
  font-family: "Montserrat", Verdana, Geneva, sans-serif;
  font-size: 16px;
}