button {
  width: 132px;
  height: 40px;
  color: #FFF;
  border-radius: 4px;
  background: #731DD8;
  justify-content: center;
}

a {
  text-decoration: none;
  display: inline-block;
}

main > section:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

main > section:nth-child(1) > div > h1 {
  font-size: 34px;
  margin-bottom: 22px;
  font-weight: 700;
}

main > section:nth-child(1) > div > p {
  font-size: 18px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}

main > section:nth-child(1) > div > a {
  margin-top: 40px;
}

main > section:nth-child(2) {
  border-radius: 10px;
  background: #FFFCF4;
  margin: 6em 0;
  padding: 51px 88px;
  text-align: center;
}

main > section:nth-child(2) > h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 47px;
}

main > section:nth-child(2) > div > div {
  text-align: center;
}

main > section:nth-child(2) > div > div > p {
  font-size: 14px;
  margin-top: 25px;
}

main > section:nth-child(2) > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main > section:nth-child(2) > a {
  margin-top: 56px;
}

@media screen and (max-width: 1024px) {
  main > section:nth-child(2) {
    padding: 51px 34px;
  }

  @media screen and (max-width: 768px) {
    main > section:nth-child(1) > img {
      display: none;
    }

    main > section:nth-child(2) > div > div {
      flex: 50%;
      margin: 32px 0;
    }
  }
}
