body {
  font-family: "Montserrat", Verdana, Geneva, sans-serif;
  background: #fff;
}

main {
  padding: 2.5em 7em 6em 7em;
  display: flex;
  gap: 32px;
}

/* Heading */
h1 {
  color: #000;
  font-size: 26px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

/* Header image */
img {
  max-width: 100%;
}

strong {
  font-weight: 600;
}

figure {
  text-align: center;
  margin: 8px 0px;
}

ol {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

blockquote {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

hr {
  border-top: 1px dashed #EC6A2C;
  background: transparent;
  margin: 20px 0;
}

#small-screen-side-bar {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: -100%;
  top: 80px;
  transition: left 0.75s ease-in-out;
  overflow: auto;
}

#small-screen-side-bar > img {
  cursor: pointer;
  margin: 40px 0 40px 16px;
}

#small-screen-side-bar > div {
  width: fit-content;
  margin-left: 16px;
}

main button {
  background: #fff;
  border: 1px solid rgba(236, 106, 44, 0.5);
  border-radius: 8px;
  gap: 10px;
}

main button:hover {
  background: #fdf0ea;
}

main button:active {
  background: #f9d2c0;
}

main > div {
  display: none;
}

main > div > img {
  display: block;
  margin-bottom: 32px;
  cursor: pointer;
}

aside {
  min-width: fit-content;
  font-family: "Nunito", "Rubik", "Poppins", "Raleway", sans-serif;
}

aside > a > span,
main > div > a > span {
  cursor: pointer;
  display: inline-flex;
  color: #545454;
  gap: 4px;
  align-items: center;
  margin-bottom: 20px;
}

main > div > a > span {
  margin-bottom: 40px;
}

aside > a > span:hover,
main > div > a > span:hover {
  color: #a289c0;
}

aside > a > span:active,
main > div > a > span:active {
  color: #731dd8;
}

aside > a > span > img,
main > div > a > span > img {
  margin-bottom: 2px;
}

aside > div > a,
#small-screen-side-bar > div > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid rgba(184, 184, 184, 0.5);
  border-radius: 8px;
  padding: 12px;
}

aside > div > a:hover,
#small-screen-side-bar > div > div:hover {
  border: 1px solid #e4d0fc;
  background: #f8f4fd;
}

aside > div > a:hover span,
#small-screen-side-bar > div > div:hover span {
  color: #8a43de;
}

aside > div > a:active,
#small-screen-side-bar > div > div:active {
  border: 1px solid #731dd8;
  background: #f1e8fb;
}

aside > div > a > span,
#small-screen-side-bar > div > div > span {
  color: #545454;
  font-size: 12px;
  margin-left: 2px;
}

.active-page,
#small-screen-side-bar .active-page {
  background: #f1e8fb;
  border: 1px solid #731dd8;
}

.active-page span,
#small-screen-side-bar .active-page span {
  color: #731dd8;
}

blockquote > i {
  font-style: italic;
  display: block;
  color: #EC6A2C;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 14px;
}

blockquote > cite {
  align-self: flex-end;
  color: #393939;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section > div {
  background: #fffcf4;
  border-radius: 10px;
  border: 1px solid rgba(197, 123, 87, 0.5);
  padding: 60px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #393939;
  display: none;
}

#page-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #000;
  margin: 40px 0px;
}

#page-content > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.indented {
  margin-left: 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
}

#resource-link {
  display: block;
  color: #c57b57;
  font-weight: 600;
  margin-top: 8px;
}

#resource-link span {
  text-decoration: underline;
}

#resource-link a {
  color: #1d1561;
  text-decoration: none;
}

#page-content > div > span > div {
  margin: 16px 0;
}

/* please write what this is */
#page-content > div > span > div > a {
  color: #000;
  text-decoration: none;
}

section > div > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

section > div > div:nth-child(3) > button:nth-child(2) {
  margin-left: auto;
}

#edit-page-button {
  display: none;
  align-self: flex-end;
  color: #000;
}

@media screen and (max-width: 1024px) {
  main {
    padding-left: 3em;
    padding-right: 3em;
  }

  @media screen and (max-width: 768px) {
    main {
      display: block;
    }

    main > div {
      display: block;
    }

    aside {
      display: none;
    }

    @media screen and (max-width: 576px) {
      main {
        padding-left: 2em;
        padding-right: 2em;
      }

      section > div {
        padding-left: 30px;
        padding-right: 30px;
      }

      h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
  }
}
