/* Start Meyer Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Meyer Reset */

body {
  margin: 0;
  font-family: "Nunito", "Rubik", "Poppins", "Raleway", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-family: "Roboto", "Noto Sans", "Trabuchet MS", "Arial", sans-serif;
}

nav {
  padding: 0 7em;
  background: #731dd8;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  font-family: "Nunito";
}

nav > div > button {
  font-family: "Nunito";
}

main {
  padding: 6em 14em;
  flex-grow: 1;
}

button {
  cursor: pointer;
}

button:hover {
  background: #F1E8FB;
}

button:active {
  background: #E1D5EF;
}

button > span {
  font-family: "Nunito";
  color: #731dd8;
}

nav > div {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

nav > div > span {
  display: inline-block;
}

nav > div > span > a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav > div > span > a.active {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
}

nav button {
  height: 30px;
  width: 124px;
  color: #731dd8;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #731dd8;
  background: #fff;
}

main button {
  border-radius: 8px;
  border: 0.5px solid #B98EEB;
  background: #fff;
  display: flex;
  padding: 10px 13px;
  font-size: 16px;
  align-items: center;
  gap: 10px;
}

main button > span {
  margin-top: 1px;
}

footer {
  background: #787878;
  text-align: center;
  color: white;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ol,
ul {
  margin: 0.6em 0.4em;
  padding: 0;
  line-height: 20px;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  margin: 8px 0;
}

#contact-button {
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  nav {
    padding: 0 3em;
  }

  main {
    padding: 6em;
  }

  @media screen and (max-width: 576px) {
    nav {
      padding: 0 2em;
    }

    main {
      padding: 6em 2em;
    }
  }
}
