/* Start Meyer Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Meyer Reset */

/* --------------------
         BODY
-------------------- */
body {
  margin: 0;
  font-family: "Montserrat", Verdana, Geneva, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  line-height: 24px;
}

h1, h2, h3 {
  line-height: normal;
}

/* --------------------
         HEADER
-------------------- */
header {
  font-family: "Montserrat", Verdana, Geneva, sans-serif;
}

/* --------------------
         NAVBAR
-------------------- */
nav {
  padding: 0 7em;
  background: #07032a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

nav > div > span {
  cursor: pointer;
}

nav > div > span:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

nav > div {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

nav > div > span {
  display: inline-block;
}

nav a {
  color: white;
  font-size: 16px;
}

nav a.active {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
  font-weight: 600;
}

/* --------------------
         MAIN
-------------------- */
/* main padding */
main {
  padding: 6em 14em;
  flex-grow: 1;
}

button {
  width: 132px;
  height: 40px;
  color: #fff;
  border-radius: 0px;
  background: #ec6a2c;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #bd5523;
}

button:active {
  background: #f08856;
}

button > span {
  color: #633e2c;
  margin-top: 1px;
}

/* --------------------
         FOOTER
-------------------- */
footer {
  background: #07032a;
  color: #fff;
  padding: 5em 14em;
  display: flex;
  justify-content: space-between;
}

footer p {
  max-width: 320px;
  margin-top: 40px;
  margin-bottom: 16px;
}

footer span {
  cursor: default;
}

footer a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

/* --------------------
         nav and footer buttons
-------------------- */

nav button,
footer button {
  border: 1px solid #fff;
  background: #07032a;
}

nav button:hover,
footer button:hover {
  background: #040215;
}

nav button:active,
footer button:active {
  background: #201c3f;
}

/* --------------------
         LOADING
-------------------- */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ol,
ul {
  margin: 0.6em 0.4em;
  padding: 0;
  line-height: 20px;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  margin: 8px 0;
}

/* Contact form styles */
#contact-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#contact-popup > div {
  display: flex;
  flex-direction: column;
  width: 528px;
  background-color: #fff;
  padding: 26px 32px 48px 32px;
  gap: 21px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#contact-popup > div > img {
  align-self: flex-end;
  cursor: pointer;
}

#contact-popup > div > h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #262626;
}

#contact-popup > div > form {
  align-self: center;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact-popup > div > form > div > p {
  color: #262626;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

#contact-popup > div > form > div > input {
  height: 40px;
  width: calc(100% - 16px);
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding-left: 12px;
  font-size: 16px;
}

#contact-popup > div > form > div > textarea {
  height: 80px;
  width: calc(100% - 16px);
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 14px 0px 0px 12px;
  font-size: 16px;
}

#contact-popup > div > form > button {
  width: 100%;
}

.contact-button {
  cursor: pointer;
}

/* Menu Styles */
#open-menu-button {
  cursor: pointer;
  display: none;
}

#small-screen-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  right: -100%;
  top: 80px;
  transition: right 0.75s ease-in-out;
}

#small-screen-menu > div {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 64px;
  margin-left: 32px;
}

#small-screen-menu a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  width: fit-content;
}

/* --------------------
         MEDIA QUERIES
-------------------- */
/* for small laptops we decrease the padding */
@media screen and (max-width: 1024px) {
  nav {
    padding: 0 3em;
  }

  main {
    padding: 6em;
  }

  footer {
    padding: 5em 6em;
  }

  /* for tablet screens we show the hamburger */
  @media screen and (max-width: 768px) {
    nav > div {
      display: none;
    }

    #open-menu-button {
      display: block;
    }

    /* for smaller screens we decrease the right left padding further */
    @media screen and (max-width: 576px) {
      main {
        padding: 6em 2em;
      }

      nav {
        padding: 0 2em;
      }

      #contact-popup > div {
        width: 288px;
      }

      footer {
        padding: 5em 2em;
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}
